<h1>TinyApp Project</h1>

<form action="/login" method="POST">
  <label for="email">Enter Email:</label>
  <input id="email" name="email">
  <label for="password">Enter Password:</label>
  <input id="password" name="password">
  <button>Sign In</button>
</form>

<button><a href= "/register">Register</a></button>

<form action="/logout" method="POST">
  <button>Sign Out</button>
</form>

