<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h1>TinyApp Project</h1>
    <div>
      <form action="/register" method="POST">
        <label for="email">Enter Your Email:</label>
        <input id="email" name="email">
        <label for="password">Enter a Password:</label>
        <input id="password" name="password">
        <input type="submit" value="Submit">
      </form>
    <div>
  </body>
</html>
