<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= shortURL %></title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <%= `${longURL} : ${shortURL}` %>
      <form action="/urls/<%= shortURL %>" method="POST">
        <label for="longURL">Update URL:</label>
        <input id="longURL" name="longURL">
        <button>Update URL</button>
      </form>
    <div>
  </body>
</html>
