<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <ul>
        <% for (key in urls) { %>
          <li><%= `${key} : ${urls[key]}` %>
            <form method="post" action="/urls/<%= key %>/delete">
              <button>Delete</button>
            </form>
            <button><a href= "/urls/<%= key %>">Edit</a></button>
          </li>
        <% } %>
      <a href= "/urls/new">Shorten new URL</a>
      </ul>
    <div>
  </body>
</html>
