<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= key %></title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <%= `${url} : ${key}` %>
      <form action="/urls/<%= key %>" method="POST">
        <label for="longURL">Update URL:</label>
        <input id="longURL" name="longURL">
        <button>Update URL</button>
      </form>
    <div>
  </body>
</html>
