<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Enter URL</title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <form action="/urls" method="POST">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" name="longURL">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
