<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <% if (!user_id) { %>
        <p>
          Please login or register
        </p>
      <% } %>
      <ul>
        <% for (url in urlDatabase) { %>
          <li><%= `${urlDatabase[url].shortURL} : ${urlDatabase[url].longURL}` %>
            <form method="post" action="/urls/<%= urlDatabase[url].shortURL %>/delete">
              <button>Delete</button>
            </form>
            <button><a href= "/urls/<%= urlDatabase[url].shortURL %>">Edit</a></button>
          </li>
        <% } %>
      <a href= "/urls/new">Shorten new URL</a>
      </ul>
    <div>
  </body>
</html>
